<%- include("partials/header")  %>
<%- include("partials/navbar") %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class="btn btn-primary " href="/campgrounds/new">Add a new Campground</a>
            </p>
        </div>
    </header>

    <!-- row has already display set to flex -->
    <div class="row text-center  align-items-center">
        <div class="col-12">
            <h3>Our Most Popular Campgrounds</h3>
        </div>

        <% campgrounds.forEach(campground => { %>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="img-thumbnail">
                <img class="w-100" src="<%= campground.image %> " alt="image">
                <div>
                    <strong><%= campground.name %></strong>
                </div>
            </div>
        </div>
        <% }) %>

    </div>

</div>
<%- include("partials/footer")  %>