<%- include("../partials/header")  %>
<h1><%= campground.name  %> </h1>
<img src="<%= campground.image %> " alt="">
<p><%= campground.description  %> </p>

<% campground.comments.forEach(comment => { %>
<p><%= comment.author %> - <%= comment.text %> </p>
<% }) %>
<a href="/campgrounds/<%= campground._id %>/comments/new">Add Comment</a>
<%- include("../partials/footer")  %>